<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/blocks/head.html"/>
    <title>Добавить задание</title>
</head>
<body>

<header>
    <th:block th:replace="/blocks/header.html"/>
</header>



<form action="#" th:action="@{/admin/task/add}" th:object="${task}" method="post">
    <p class="sub-title">Описание задания</p>
    <textarea th:field="*{github_description}" required> </textarea>

    <p class="sub-title">Ссылка на решение с github</p>
    <input th:field="*{github_solution}" required>

    <p>Оцените уровень сложности задания: </p>
    <input th:field="*{difficult_level}" required>

    <input type="submit" value="Создать задание">
</form>

</body>
</html>