<!DOCTYPE html>
<html lang="ru" xmlns:="http://www.thymeleaf.org">
<head th:insert="blocks/head.html">
    <title>Главная страница</title>
</head>
<body>
<body screen_capture_injected="true">

<header th:insert="header.html">

</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Aretinsky lenger</h1>
                <p class="lead text-muted">Онлайн тренажер по языку программирования Python для начинающих.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Начать обучение (кнопка еще не работает)</a>
                    <a href="#" class="btn btn-secondary my-2">Я уже учусь (кнопка еще не работает)</a>
                </p>
            </div>
        </div>
    </section>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a>getting started guide</a>.</p>
    </div>
</footer>

</body>
</body>
</html>
