<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white"></h4>
                <p class="text-muted">Онлайн тренажер по Python с онлайн компилятором. <br>
                    Более 100 задач. <br> Помощь сообщества. <br> Моментальная проверка задач.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Контакты</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Контакт 1</a></li>
                    <li><a href="#" class="text-white">Контакт 2</a></li>
                    <li><a href="#" class="text-white">Контакт 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <strong><span style="color: #38e57d">Aretinsky</span> lenger</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>