<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" th:each="task : ${taskList}">
        <div class="card shadow-sm">
            <div class="card-body">
                <a th:href="@{'/task/' + ${task.id}}">
                    <p th:text="${task.title}"></p>
                </a>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <p>Попытки: </p>
                        <p th:text="${task.attempts_count}"></p>
                    </div>
                    <p>Сложность: </p>
                    <small class="text-muted" th:text="${task.difficult_level}"></small>
                </div>
            </div>
        </div>
    </div>
</div>